body {
  height: 100%;
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 5%;
}
.contact {
  width: 50%;
  color: white;
  margin-top: 148px;
}

.contact h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
}
.contact h1 span {
  color: #411ea5;
}
.contact h2 {
  font-size: 26px;
  color: white;
}
.contact h3 {
  font-size: 18px;
  color: white;
}

.form {
  width: 45%;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

form label {
  margin-top: 10px;
  color: white;
  font-size: 20px;
}

form input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid white;
  border-radius: 5px;
}
.requirements {
  display: flex;
  justify-content: space-between;
  align-items: flex;
  padding: 55px;
}
form input[type='submit'] {
  width: 150px;
  padding: 10px;
  margin-top: 15px;
  border: 1px solid #666;
  border-radius: 5px;
  background: rgb(125, 90, 125);
  color: white;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}
form input[type='submit']:hover {
  color: black;
}
header {
  background: transparent;
  padding: 6px 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  color: white;
  text-decoration: solid;
  font-weight: 600;
}
.logo span {
  color: #411ea5;
}
.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: solid;
  font-weight: 500;
  margin-left: 35px;
}
.navbar a:hover {
  color: red;
}
