body{
    height:100vh;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 5%;
}
.container{
    position: relative;
    height: 100%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 30px;
}
header{
    position: absolute;
    top:0;
    left: 0;
    width: 90%;
    padding: 25px 5%;
    background-color: #b3d1bb;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 25px;
    color: black;
    text-decoration: solid;
    font-weight: 600;
}
.navbar a{
    font-size: 18px;
    color: black;
    text-decoration: solid;
    font-weight: 500;
    margin-left: 35px;
}
.navbar a:hover{
    color: red;
}
.home{
    display: flex;
    align-items: center;
    height: 100%;
    gap:50px;
    padding: 50px 5% 0;
    justify-content: space-between;
}
.detail h1{
    font-size: 55px;
}
.detail h2{
    font-size: 32px;
}
.detail p{
    margin: 10px 0 20px ;
}
.btn{
    display: inline-block;
    padding: 10px 30px;
    background-color: antiquewhite;
    font-weight: 500;
    border: 2px;
    border-radius: 40px;
}
.btn:hover{
    color: red;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.img-wrap{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #b3d1bb;
}
.img-wrap img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}



