body {
  height: 100%;
  background-image: url(bg.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 50px 5%;
}
.container {
  width: 103%;
  height: 30px;
}
header {
  background: transparent;
  padding: 6px 8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  font-size: 32px;
  color: white;
  text-decoration: solid;
  font-weight: 600;
}
.logo span {
  color: #411ea5;
}
.navbar a {
  font-size: 20px;
  color: white;
  text-decoration: solid;
  font-weight: 500;
  margin-left: 35px;
}
.navbar a:hover {
  color: red;
}
.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 148px;
}
.detail h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 10px;
  color: white;
}

.detail h1 span {
  color: #411ea5;
}

.detail h3 {
  font-size: 26px;
  margin-bottom: 15px;
  color: white;
}

.detail p {
  max-width: 350px;
  color: white;
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background-color: antiquewhite;
  font-weight: 500;
  border: 2px;
  border-radius: 40px;
}
.btn:hover {
  color: #ffff;
  background: rgb(46, 46, 164);
}
.profile-area {
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob {
  width: 300px;
  height: 300px;
  background: #b9a7ff;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
